<header class="header">
  <div class="container">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Ember Blog</h1>
      </div>
      <p class="lead">Get the latest news on all things habibi.</p>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="col-md-4">
      <div class="blog-posts">
        {{outlet}}
      </div>
    </div>
    <div class="col-md-8">
      <div class="blog-post">

      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p class="footer-text">Habibi Blog, Inc.</p>
  </div>
</footer>
