<header class="header">
  <div class="container">
    <div class="col-md-12">
      <div class="clearfix">
        <h1 class="pull-left">Ember Blog</h1>
        <p class="lead pull-right">Get the latest news on all things habibi.</p>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="col-md-4">
      <div class="blog-posts">
        {{outlet "blog-posts"}}
      </div>
    </div>
    <div class="col-md-8">
      <div class="blog-post">
        {{ outlet "blog-post" }}
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p class="footer-text">Habibi Blog, Inc.</p>
  </div>
</footer>
