<hr>
<div class="text-center">
  {{#link-to 'posts.new' class='btn btn-success'}}+ Add New Post{{/link-to}}
</div>
<hr>

<ul class="list-unstyled blog-posts-list">
  {{#each post in model}}
    <li class="blog-post-item">
      <h4 class="title">{{#link-to 'post' post}}{{post.title}}{{/link-to}}</h4>
      <p class="content-description">{{post.description}}</p>
    </li>
  {{/each}}
</ul>
