<ul class="list-unstyled blog-posts-list">
  {{#each post in model}}
    <li class="blog-post-item">
      <h4 class="title">{{post.title}}</h4>
      <p class="content-description">{{post.description}}</p>
    </li>
  {{/each}}
</ul>
